<h2 class="store-title">Produtos disponíveis</h2>
<div class="container my-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-3">
        <img src="{{product.imageUrl}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><strong>R$ {{product.price | number: '1.2-2'}}</strong></p>
          <button class="btn btn-dark w-100" (click)="addToCart(product)">Adicionar ao Pedido</button>
          <p *ngIf="product.added" class="text-success mt-2">Produto adicionado</p>
        </div>
      </div>
    </div>
  </div>
</div>
