<footer class="footer">
  <div class="container">
    <div class="links-row mb-4">
      <a href="/store">Menu</a>
      <a href="/our-coffee">Nosso Café</a>
      <a href="/about-us">Sobre Nós</a>
      <a
        href="https://docs.github.com/en/site-policy/github-terms/github-terms-of-service"
        target="_blank"
        rel="noopener noreferrer"
      >
        Termos de Uso
      </a>
    </div>
    <div class="row align-items-center">
      <div class="col-12 d-flex justify-content-between align-items-center ps-0">
        <p>&copy; 2025 Code & Coffee – CNPJ 29.823.873/0001-57. Todos os direitos reservados.</p>
        <div class="card-badges">
          <img src="assets/images/footer/visa.png" alt="Visa" class="card-flag" />
          <img src="assets/images/footer/mastercard.webp" alt="Mastercard" class="card-flag" />
          <img src="assets/images/footer/elo.png" alt="Elo" class="card-flag" />
          <img src="assets/images/footer/hipercard.svg" alt="Hipercard" class="card-flag" />
          <img src="assets/images/footer/banrisul.jpg" alt="Banrisul" class="card-flag" />
        </div>
      </div>
    </div>
  </div>
</footer>
