<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="nav-link text-white me-3" routerLink="/store">LOJA</a>
      <a class="nav-link text-white me-3" routerLink="/courses">CURSOS</a>
      <a class="nav-link text-white" routerLink="/learn">APRENDER</a>
      <a class="nav-link text-white" routerLink="/about">SOBRE NÓS</a>
    </div>

    <!-- <div class="navbar-brand mx-auto">
      <img src="assets/logo.png" alt="Code and Coffee Logo" style="height: 40px;">
    </div> -->

    <div class="d-flex align-items-center position-relative">
      <i class="bi bi-search text-white me-3" (click)="toggleSearchBar()"></i>
      <a class="nav-link text-white" routerLink="/my-orders" *ngIf="isLoggedIn()">Meus Pedidos</a>

      <div *ngIf="isLoggedIn()">
        <a class="nav-link text-white me-3" (click)="logout()">Sair</a>
      </div>

      <div *ngIf="!isLoggedIn()">
        <a class="nav-link text-white" routerLink="/login">
          <i class="bi bi-person"></i>
        </a>
      </div>

      <div *ngIf="searchVisible" class="search-bar">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar produtos..."
          [(ngModel)]="searchTerm"
          (keydown.enter)="onSearch()"
        />
        <button class="btn btn-primary ms-2" (click)="onSearch()">Ok</button>
      </div>
    </div>
  </div>
</nav>
