<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">


    <div class="d-flex align-items-center">
      <a class="nav-link text-white me-3" routerLink="/store">Loja</a>
      <a class="nav-link text-white me-3" routerLink="/courses">Cursos</a>
      <a class="nav-link text-white" routerLink="/learn">Aprender</a>
    </div>


    <div class="navbar-brand mx-auto">
      Code&Coffee
    </div>


    <div class="d-flex align-items-center">
      <a class="nav-link text-white me-3" routerLink="/about">Sobre Nós</a>
      <i class="bi bi-search text-white"></i>
    </div>

  </div>
</nav>
