<ng-container *ngIf="inProcessOrders.length > 0">
  <h2 class="orders-title">Pedidos em processo</h2>
  <div class="orders-container">
    <div *ngFor="let order of inProcessOrders"
         [ngClass]="{
           'order-card': true,
           'warning': order.status === 'Em preparação',
           'waiting': order.status === 'Aguardando confirmação'
         }">

      <h5>Pedido ID: {{ order.id }}</h5>
      <p>Status:
        <span [ngClass]="{
          'status-pending': order.status === 'Em preparação',
          'status-waiting': order.status === 'Aguardando confirmação'
        }">{{ order.status }}</span>
      </p>
      <p>Total: {{ order.total | currency:'BRL':'symbol':'1.2-2' }}</p>
      <p>Data: {{ order.createdAt | date: 'short' }}</p>

      <p>Itens por unidade:</p>
      <ul>
        <li *ngFor="let product of order.products">
          {{ product.name }}
        </li>
      </ul>

    <div class="d-flex flex-wrap gap-2 mt-3">
      <button class="btn btn-dark" (click)="confirmOrder(order)" *ngIf="order.status === 'Aguardando confirmação'">Confirmar pedido</button>
      <button class="btn btn-dark" (click)="confirmDelivery(order)" *ngIf="order.status === 'Em preparação'">Confirmar entrega</button>
      <button class="btn btn-dark" (click)="cancelOrder(order)">Cancelar pedido</button>
    </div>


    </div>
  </div>
</ng-container>

<ng-container *ngIf="deliveredOrders.length > 0">
  <h2 class="orders-title">Pedidos entregues</h2>
  <div class="orders-container">
    <div *ngFor="let order of deliveredOrders" class="order-card success">
      <h5>Pedido ID: {{ order.id }}</h5>
      <p>Status:
        <span class="status-delivered">{{ order.status }}</span>
      </p>
      <p>Total: {{ order.total | currency:'BRL':'symbol':'1.2-2' }}</p>
      <p>Data: {{ order.createdAt | date: 'short' }}</p>

      <p>Itens por unidade:</p>
      <ul>
        <li *ngFor="let product of order.products">
          {{ product.name }}
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="canceledOrders.length > 0">
  <h2 class="orders-title">Pedidos cancelados</h2>
  <div class="orders-container">
    <div *ngFor="let order of canceledOrders" class="order-card error">
      <h5>Pedido ID: {{ order.id }}</h5>
      <p>Status:
        <span class="status-canceled">{{ order.status }}</span>
      </p>
      <p>Total: {{ order.total | currency:'BRL':'symbol':'1.2-2' }}</p>
      <p>Data: {{ order.createdAt | date: 'short' }}</p>

      <p>Itens por unidade:</p>
      <ul>
        <li *ngFor="let product of order.products">
          {{ product.name }}
        </li>
      </ul>
    </div>
  </div>
</ng-container>
