<h2 class="orders-title">Meus últimos pedidos</h2>
<div *ngIf="orders.length > 0; else noOrders" class="orders-container">
  <div *ngFor="let order of orders"
       [ngClass]="{
         'order-card': true,
         'success': order.status === 'Entregue',
         'error': order.status === 'Cancelado',
         'warning': order.status === 'Pendente',
         'default': order.status !== 'Entregue' && order.status !== 'Cancelado' && order.status !== 'Pendente'
       }">

    <h5>Pedido ID: {{ order.id }}</h5>
    <p>Status:
      <span [ngClass]="{
        'status-delivered': order.status === 'Entregue',
        'status-canceled': order.status === 'Cancelado',
        'status-pending': order.status === 'Pendente'
      }">{{ order.status }}</span>
    </p>
    <p>Total: {{ order.total | currency }}</p>
    <p>Data: {{ order.createdAt | date: 'short' }}</p>

    <p>Itens por unidade:</p>
    <ul>
      <li *ngFor="let product of order.products">
        {{ product.name }}
      </li>
    </ul>

    <button (click)="confirmDelivery(order)" *ngIf="order.status === 'Pendente'">Confirmar Entrega</button>
    <button (click)="cancelOrder(order)" *ngIf="order.status !== 'Entregue' && order.status !== 'Cancelado'">Cancelar Pedido</button>

  </div>
</div>

<ng-template #noOrders>
  <p>Não há pedidos para exibir.</p>
</ng-template>
