.home-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-image {
  width: 90%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: calc(100vh - 120px);
}

.app-content {
  padding-bottom: 80px;
}
