<h2 class="carousel-title">Descubra o verdadeiro sabor do café especial.</h2>
<div class="swiper" #swiperContainer>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let product of products">
      <div class="product-card">
        <img
          [src]="product.imageUrl"
          alt="Product image"
          [attr.title]="product.name"
        />
        <h5>{{ product.name }}</h5>
        <p>{{ product.description }}</p>
        <strong>R${{ product.price.toFixed(2) }}</strong>
      </div>
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
