.about-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #392620;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}

.about-text {
  text-align: justify;
  margin: 0 auto 2rem;
  max-width: 700px;
  line-height: 1.6;
}

.about-highlight {
  margin-top: 1.5rem;
  font-style: italic;
  font-size: 1.1rem;
  color: #392620;
  text-align: center;
}

.about-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin: 0 auto 1.5rem;
  display: block;
  filter: grayscale(100%);
  transition: transform 0.3s ease, filter 0.3s ease 2s;
  cursor: pointer;
}

.about-image:hover {
  transform: scale(1.03);
  filter: grayscale(0%);
  transition-delay: 0s;
}
